.btn-partie {
    padding: 10px 16px;
    font-size: 38px;
    line-height: 5.3333333;
    border-radius: 6px;
    width: 500px;
}
.btn-acc {
    padding: 10px 16px;
    font-size: 38px;
    line-height: 5.3333333;
    border-radius: 6px;
    width: 800px;
}
.btn-lg,
.btn-group-lg > .btn {
    padding:10px 16px;
    font-size: 28px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 300px;
    height: 150px;
    white-space: normal;
}
.btn-lg-rond{
	padding:10px 16px;
    font-size: 28px;
    line-height: 1.3333333;
    border-radius: 60000px;
    width: 300px;
    height: 150px;
    white-space: normal;
}

.btn-lg-arrondi{
	border-radius: 60000px;
}

.btn-obs {
    padding:10px 16px;
    font-size: 28px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 1100px;
    height: 160px;
    white-space: normal;
}
.btn-art {
    padding: 10px 16px;
    font-size: 38px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 300px;
}
.btn-ret {
    padding: 10px 16px;
    font-size: 38px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 200px;
}
.btn-preco {
    padding:20px 25px;
    font-size: 28px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 1100px;
    height: auto;
    white-space: normal;
	margin-bottom:10px;
}
.btn.outline {
    padding: 12px 22px;
	border: 10px solid #0a007a;
	border-style:inset;
}

.btnsurr{
	text-align:center;
}

.btnMenu{
	float:left;
	margin:1.1% 0.5% 0% 0%;
	padding:1% 2% 1% 2%;
}

.btnPartie{
	width:19%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	height:100px;
	cursor:pointer;
	margin-right:11px;
}

.btn-rapport{
	background-color:red;
}

#mesureUrg{
	width:101%;
}


-/* styles de base si JS est activé */
.js .input-file-container {
  position: relative;
  width: 280px;
}
.js .input-file-trigger {
  display: block;
  padding: 27px 45px 29px;
  border-radius:6px;
  background: #337ab7;
  color: #fff;
  font-size: 1.2em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  padding: 18px 0;
  opacity: 0;
  cursor: pointer;
}

 
/* styles du retour visuel */
.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin:  0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
/* on complète l'information d'un contenu textuel
   uniquement lorsque le paragraphe n'est pas vide */
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

/* quelques styles d'interactions */
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #2f73aa;
}

.purple,.purple:hover,.purple:focus{
	
	color:white;
	background-color: #c493c3;
}






.js2 .input-file-trigger2 {
  display: block;
  cursor: pointer;
}
.js2 .input-file2 {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

